body {
  background-color: #212121;
  padding-left: 1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  color: aliceblue;
}

#title {
  color: #ffffff;
  font-size: 2vw;
}

#hide {
  display: none;
}

ul {
  background-color: #e3d6d6;
}

.list {
  color: #706e6e;
  padding-left: 5vw;
}

